<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        The datasets distributed inside this repository are property of their own rightful authors.
        You can find authorship and citation information inside each individual page.
        If you are the author of one of these datasets and wish to remove it, please <a href="mailto:{{ site.maintainer.email }}">contact the site maintainers</a>.
      </div>
      <div class="column">
        <aside class="menu">
          <p class="menu-label">
            Useful links
          </p>
          <ul class="menu-list">
            <li>
              <a href="{{ site.source_code }}">
                Source code
              </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/self-host">
                Self-host
              </a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
    
    <div class="content has-text-centered">
      <p>Powered by <a href="{{ site.source_code }}">Cometa</a> &copy; {{ site.developers | join: ", " }}.
        <a href="{{ site.source_code }}/blob/master/LICENSE">See license information</a></p>
    </div>
  </div>
</footer>
