<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        The datasets distributed inside this repository are property of their own rightful authors. You can find authorship and citation information inside each individual page.
      </div>
      <div class="column">
        <aside class="menu">
          <p class="menu-label">
            Useful links
          </p>
          <ul class="menu-list">
            <li>
              <a href="https://github.com/fdavidcl/cometa">
                Source code
              </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/self-host">
                Self-host
              </a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
    
    <div class="content has-text-centered">
      <p>Powered by Cometa &copy; Francisco Charte, David Charte.
        <a href="https://github.com/fdavidcl/cometa/LICENSE">See license information</a></p>
    </div>
  </div>
</footer>
