<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        The datasets distributed inside this repository are property of their own rightful authors.
        You can find authorship and citation information inside each individual page.
        If you are the author of one of these datasets and wish to remove it, please <a href="mailto:{{ site.maintainer.email }}">contact the site maintainers</a>.
      </div>
      <div class="column">
        <aside class="menu">
          <p class="menu-label">
            About {{ site.title }}
          </p>
          <ul class="menu-list">
            <li>
              <a href="{{ site.software.source }}">
                Source code
              </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/self-host">
                Self-host
              </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/citation">
                Citing {{ site.title }}
              </a>
            </li>
          </ul>
          <p class="menu-label">
            About mutilabel classification
          </p>
          <ul class="menu-list">
            <li>
              <a href="https://doi.org/10.1007/978-3-319-41111-8_2">Book: Multilabel Classification</a>
          </ul>
        </aside>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-half">
        <div class="content has-text-centered">
          <p>Powered by <a href="{{ site.software.source }}">{{ site.software.name }}</a> &copy; {{ site.developers | join: ", " }}.
            <a href="{{ site.software.source }}/blob/master/LICENSE">See license information</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
