<header class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <input type="checkbox" id="mobile_menu" hidden>
    
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ site.baseurl }}/">
        {{ site.title }}
      </a>

      <label for="mobile_menu" class="button is-primary navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <div class="navbar-menu is-active">
      <div class="navbar-start">
        
      </div>

      <div class="navbar-end">
        <a class="navbar-item {% if page.url == '/' %}is-active{% endif %}" href="{{ site.baseurl }}/">
          About
        </a>
        <a class="navbar-item {% if page.url == '/datasets/' %}is-active{% endif %}" href="{{ site.baseurl }}/datasets/">
          Browse datasets
        </a>
        <span class="navbar-item">
          <a class="button" href="https://github.com/fdavidcl/cometa">
            <span class="icon"><i class="fa fa-github"></i></span>
            <span>Source code</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</header>
