---
---

@import "variables";

$primary: {{ site.accent | default: "$orange" }};

@import "bulma";

/* Filled "O" in COMETA */
.navbar-brand .navbar-item {
    text-transform: uppercase;
    font-weight: bold;
    
    o {
        display: inline-block;
        text-indent: -9999px;
        width: 0.65em;
        height: 0.70em;
        background: $primary-invert;
        border-radius: 50%;
        vertical-align: baseline;
        margin-right: 0.05em;
    }
}

.help pre {
    padding: $size-small/2 $size-small;
}

/* Interaction with burger menu */
@media screen and (max-width: $desktop - 1) {
    #mobile_menu {
        &:not(:checked) ~ .navbar-menu {
            display: none;
        }
    }
}

/* Interaction with download box */
#hide_download {
    &:not(:checked) + .button + .button {
        display: none;
    }
    &:checked + .button {
        display: none;
    }
}
#show_download {
    &:not(:checked) + .download-partitions {
        display: none;
    }
}

.panel-tabs a {
    cursor: default;
    label {
        cursor: pointer;
    }
}
/* Interaction with attribute panel */
#attr_all {
    &:not(:checked) ~ .attr-list {
        display: none;
    }
    &:checked ~ .panel-tabs a.attr-all {
        border-bottom-color: $black;
    }
}
#attr_labels {
    &:not(:checked) ~ .label-list {
        display: none;
    }
    &:checked ~ .panel-tabs a.attr-labels {
        border-bottom-color: $black;
    }
}


.download-partitions table {
    background: transparent;
}

table {
    th.sort {
        text-decoration: underline;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
            color: $blue;
        }
    }

    td a {
        display: block;
    }
}

.attribute-panel  {
    > :first-child, > :last-child {
        border-top: 0px solid;
    }

    .panel-heading, .panel-tabs, .panel-block {
        border-left: 0px solid;
        border-right: 0px solid;
    }

    
    .panel-content {
        max-height: $reasonable-height-of-things;
        overflow-y: auto;

        .panel-block {
            max-width: 100%;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            
            &:last-child {   
                border-bottom: 0px solid;
            }
        }
    }
}

figure.highlight {
    text-align: left;
    margin: 0;
}
