<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        {{ site.title }} &copy; Francisco Charte, David Charte.
        <a href="https://github.com/fdavidcl/completas/LICENSE">See license information</a>
      </div>
      
      <div class="column">
        <aside class="menu">
          <p class="menu-label">
            Useful links
          </p>
          <ul class="menu-list">
            <li>
              <a href="https://github.com/fdavidcl/completas">
                Source code
              </a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</footer>
