// Import the initial variables
@import "sass/utilities/initial-variables";

$orange: darken(#FF851B, 10%);
$orange-invert: $white;
$primary: $orange;
$primary-invert: $white;
// $primary-invert: $orange-invert;


$reasonable-height-of-things: 30em;
