// Import the initial variables
@import "sass/utilities/initial-variables";

$orange: lighten(#FF9800, 10%);
$orange-invert: $black;
$primary: $cyan;
$primary-invert: $white;
// $primary-invert: $orange-invert;


$reasonable-height-of-things: 30em;
