---
layout: page
hide-title: true                        
---

<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="title">
        {{ page.data["name"] }}
      </p>
    </div>
    <div class="level-item">
      <div class="help" title="Load {{ page.data["name"] }} in R with this command">
        {% highlight r %}mldr.datasets::get.mldr("{{ page.data["name"] }}"){% endhighlight %}
      </div>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-primary is-medium" href="{{ site.baseurl }}/public/full/{{ page.data['name'] }}.rds">
            <span class="icon"><i class="fa fa-download"></i></span>
            <span>Download</span>
          </a>
        </p>
        <p class="control">
          <input type="radio" name="download" id="hide_download" checked hidden>
          <label class="button is-medium" disabled>
            <span class="icon"><i class="fa fa-puzzle-piece"></i></span>
            <span>Download partitions</span>
          </label>
          <label class="button is-medium" for="show_download">
            <span class="icon"><i class="fa fa-puzzle-piece"></i></span>
            <span>Download partitions</span>
          </label>
        </p>
      </div>

    </div>
  </div>
</div>


<input type="radio" name="download" id="show_download" hidden>
<div class="message download-partitions">
  <div class="message-header">
    <p>Select your desired partitioning strategy, validation and format</p>
    <label class="delete" aria-label="delete" for="hide_download"></label>
  </div>
  <div class="message-body">
    <table class="table is-fullwidth">
      <thead>
        <th></th>
        {% for strategy in site.partitioning.strategy %}
        <th>{{ strategy.name }}</th>
        {% endfor %}
      </thead>
      {% for validation in site.partitioning.validation %}
      <tr>
        <th>{{ validation.name }}</th>
        {% for strategy in site.partitioning.strategy %}
        <td>
          {% for format in site.partitioning.format %}
          <a class="button is-small is-white" href="{{ site.baseurl }}/public/partitions/{{ page.data['name'] }}-{{ strategy.id }}-{{ validation.id }}-{{ format.id }}.tar.gz">{{ format.name }}</a>
          {% endfor %}
        </td>
        {% endfor %}

      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="columns">
  <div class="column is-half">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Summary
        </p>
      </header>
      <div class="card-content">
        <table class="table is-fullwidth">
          <tr>
            <th>Instances</th>
            <td>{{ page.data["num.instances"] }}</td>
          </tr>
          <tr>
            <th>Attributes</th>
            <td>{{ page.data["num.attributes"] }}</td>
          </tr>
          <tr>
            <th>Inputs</th>
            <td>{{ page.data["num.inputs"] }}</td>
          </tr>
          <tr>
            <th>Labels</th>
            <td>{{ page.data["num.labels"] }}</td>
          </tr>
          <tr>
            <th>Labelsets</th>
            <td>{{ page.data["num.labelsets"] }}</td>
          </tr>
          <tr>
            <th>Single labelsets</th>
            <td>{{ page.data["num.single.labelsets"] }}</td>
          </tr>
          <tr>
            <th>Max frequency</th>
            <td>{{ page.data["max.frequency"] }}</td>
          </tr>
          <tr>
            <th>Cardinality</th>
            <td>{{ page.data["cardinality"] }}</td>
          </tr>
          <tr>
            <th>Density</th>
            <td>{{ page.data["density"] }}</td>
          </tr>
          <tr>
            <th>Mean IR</th>
            <td>{{ page.data["meanIR"] }}</td>
          </tr>
          <tr>
            <th><acronym title="Score of ConcUrrence among iMBalanced LabEls">SCUMBLE</acronym></th>
            <td>{{ page.data["scumble"] }}</td>
          </tr>
          <tr>
            <th><acronym title="Theoretical Complexity Score">TCS</acronym></th>
            <td>{{ page.data["tcs"] }}</td>
          </tr>
        </table>
      </div>
    </div>
    
    <div class="level"></div>
    
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Citation
        </p>
      </header>
      <div class="card-content">
        <p class="menu-label">Text</p>
        
        <div class="content">
          <blockquote>
            {% assign citation = page.data["citation"] %}
            {{ citation["author"] | replace: " and ", "; " }} ({{ citation["year"] }}).
            {{ citation["title"] }}.
            {% assign is_journal = citation["journal"] | size %}
            {% assign is_book = citation["booktitle"] | size %}
            {% if is_journal > 0 %}
            In <em>{{ citation["journal"] }}, {{ citation["volume"] }}</em>({{ citation["number"] }}), {{ citation["pages"] }}.
            {% elsif is_book > 0 %}
            In <em>{{ citation["booktitle"] }}</em>, {{ citation["pages"] }}.
            {% endif %}
          </blockquote>
        </div>
        
        <p class="menu-label">BibTeX</p>
        {% highlight python %}{{ page.data["bibtex"] }}{% endhighlight %}
      </div>
    </div>
  </div>

  <div class="column is-half">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Concurrence plot
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="{{ site.baseurl }}/public/img/{{ page.data['name'] }}.png">
        </figure>
      </div>
      <div class="card-content">
        <p class="help">
          In this concurrence plot, sectors represent labels and links between them depict label co-occurrences. <a href="https://doi.org/10.1007/978-3-319-07617-1_10"><acronym title="Score of ConcUrrence among iMBalanced LabEls">SCUMBLE</acronym></a> is a measure designed to assess the concurrence among imbalanced labels.
        </p>
      </div>
    </div>

    <div class="level"></div>

    <nav class="card panel attribute-panel">
      <header class="card-header">
        <p class="card-header-title">Attributes</p>
      </header>
      <!--div class="panel-block">
        <p class="control has-icons-left">
          <input class="input is-small" type="text" placeholder="search">
          <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
          </span>
        </p>
      </div-->

      <input type="radio" name="attr" id="attr_all" hidden checked>
      <input type="radio" name="attr" id="attr_labels" hidden>
      
      <p class="panel-tabs">
        <a class="attr-all"><label for="attr_all">all attributes</label></a>
        <!--a>inputs</a-->
        <a class="attr-labels"><label for="attr_labels">labels</label></a>
      </p>

      <div class="panel-content attr-list">
        {% assign attrnum = page.data["attributes"] | size | minus: 1 %}
        {% assign maxattrs = 199 %}
        {% assign attrrange = (0..attrnum) %}
        {% if attrnum > maxattrs %}
        {% assign attrrange = (0..maxattrs) %}
        {% endif %}

        {% for i in attrrange %}
        {% assign attr = page.data["attributes"][i] %}
        <span class="panel-block">
          <span class="tag"
                {% if attr.type contains "{" %}
                title="{{ attr.type }}">
            {% if attr.type == "{0,1}" or attr.type == "{0, 1}" %}
            binary
            {% else %}
            categorical
            {% endif %}
            {% else %}
            >{{ attr.type }}
            {% endif %}
          </span>
          &nbsp;
          {{ attr.name }}
        </span>
        {% endfor %}
        {% if attrnum > maxattrs %}
        <span class="panel-block">
          <p class="help">({{ attrnum | minus: maxattrs }} more attributes)</p>
        </span>
        {% endif %}
      </div>

      <div class="panel-content label-list">
        {% assign labelnum = page.data["labels"] | size | minus: 1 %}
        {% assign range = (0..labelnum) %}
        {% for li in range %}
        {% assign label = page.data["labels"][li] %}
        {% assign attr = page.data["attributes"][label] %}
        <span class="panel-block">
          {{ attr.name }}
          &nbsp;
          <span class="tag">SCUMBLE&nbsp;<strong>{{ page.data["scumble_labels"][li] }}</strong></span>
        </span>
        {% endfor %}
      </div>
    </nav>

  </div>
</div>

<div class="level">
  <div class="level-left"></div>
  <div class="level-right">
    <a class="button is-light" href="{{ site.baseurl }}/public/json/{{ page.data["name"] }}.json">
      <span class="icon"><i class="fa fa-download"></i></span>
      <span>Download this metadata in a machine-friendly format (JSON)</span>
    </a>
  </div>
</div>
