<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"> <!-- † -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A comprehensive multilabel dataset archive">

    <meta name="theme-color" content="{{ site.accent }}">

    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/icon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/icon-32.png">
    
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/highlight-friendly.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  </head>

  <body>
    {% unless page.home %}
    {% include header.html %}
    {% endunless %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>
